@tailwind base;
@tailwind components;
@tailwind utilities; 

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body{
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  background-color: #474747;
  background-image: url('/images/AstiqBlur.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

footer{
  position: fixed;
  bottom:0;
  right:0;
  color: #494949;
  font-size: 10px;
  margin: 5px;
}